<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ROW1: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</string>
	<string>ROW2: It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &apos;Content here, content here&apos;, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</string>
	<string>ROW3: The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from &quot;de Finibus Bonorum et Malorum&quot; by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</string>
	<string>ROW4: &quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;
&quot;There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain...&quot;</string>
	<string>ROW5: Vestibulum ac ligula eget elit porta sollicitudin. Etiam vitae aliquet ligula. Duis quis orci a dolor convallis suscipit. Sed in suscipit velit. Aliquam lacinia in sapien id dignissim. Donec vestibulum nibh nec libero maximus, vitae ultricies nisl luctus. Ut sodales nulla eu finibus vestibulum. Donec consectetur ipsum mi, sed sollicitudin dui commodo non. Curabitur eget ligula nunc.</string>
	<string>ROW6: Fusce at eleifend tellus. Proin mauris lacus, aliquam et laoreet eu, sollicitudin nec ipsum. Sed bibendum elit vitae ullamcorper fringilla. Morbi ut dapibus dolor, et egestas massa. Morbi facilisis arcu leo, ac vulputate est luctus sit amet. Aliquam commodo odio mi, et feugiat leo hendrerit nec. Quisque consectetur faucibus felis. Maecenas auctor ultrices mi, at bibendum mi ornare ut. Praesent auctor auctor feugiat. Curabitur porttitor dignissim tempus. Phasellus dictum odio id est elementum, in tincidunt augue volutpat. Suspendisse potenti.</string>
	<string>ROW7: Mauris gravida vulputate enim, non blandit erat faucibus a. Donec a leo porta, fringilla sem vel, fermentum nulla. Maecenas rhoncus finibus nisi, quis congue purus viverra nec. Aenean non sagittis urna, ut congue diam. Phasellus tincidunt ante nec erat fermentum efficitur. Nullam posuere est sit amet ipsum auctor accumsan vitae et tellus. Nullam ut elit mauris. Ut tempor ante turpis, vitae varius neque dignissim rhoncus. Nulla nisi massa, volutpat sit amet luctus id, tristique sit amet orci. Suspendisse finibus risus massa, non laoreet dolor scelerisque feugiat.</string>
	<string>ROW8: &quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...&quot;
&quot;There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain...&quot;</string>
	<string>ROW9: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</string>
	<string>ROW10: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</string>
</array>
</plist>
